* {
    box-sizing: border-box;
  }
  
  :root {
    --textColor: black;
  }
  
  body {
    font-family: "Verdana", sans-serif;
    text-align: center;
    font-size: 1.15em;
    color: var(--textColor);
    background-color: rgb(247,247,247);
    margin-top: 20px;
  }
  
  
  h1,
  h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  ol{
    text-align: left;
    list-style-type: decimal-leading-zero;
    }

 li{
  margin-top: 10px;
  color: val(--textColor);
 }
  
 .button {
  background-color: black;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1em;
}

a { color:black}


.button:hover {
  background-color: rgb(77, 76, 76);
  color: white;
}

input[type=text]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
   border-radius: 4px;
  margin-right: 10px;
  border: 0.5px solid black;
  font-size: 1.05em;
}

blockquote {
   font-style: italic;
   height: 50px;
}

main{

  margin: auto;
  width: 60vw;
  background-color: white;
  padding-top: 10px; 
  padding-bottom: 10px;
  
}

article{
  margin-bottom: 10px;
}

 @media screen and (max-width: 800px) {
  input[type=text] {
    width: 90%;
  } 
  main{
    width: 90vw;
  
    
  }
  blockquote{
    height: 145px;
  }
}